# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
indent_size = 2
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,jsx,ts,tsx,json,yaml}]
indent_style = space

[*.py]
indent_style = space
indent_size = 4
# isort.cfg
line_length=99
multi_line_output=3
include_trailing_comma=true

[Makefile]
indent_size = 8
indent_style = tab

[*.md]
indent_size = 2
insert_final_newline = false
trim_trailing_whitespace = false
