[user]
	name = kashewnuts
	email = kashun.nuts@gmail.com
[core]
	editor = vim -Nu ~/.vim/minimal.vim
	excludesfile = ~/.gitignore
	quotepath = false
	preloadindex = true
	fscache = true
[color]
	ui = true
[push]
	default = simple
[gui]
	encoding = utf-8
[i18n]
	logOutputEncoding = utf-8
[alias]
	lg = log --graph --abbrev-commit --date=relative
	lga = log --graph --abbrev-commit --date=relative --all
	br = branch
	ci = commit
	co = checkout
	cof = !git branch -a | fzf | xargs git checkout
	df = diff
	dfc = diff --cached
	dft = difftool
	dftc = difftool --cached
	st = status
	unstage = reset -q HEAD --
	uncommit = reset --mixed HEAD~
	vimdiff = difftool --tool=vimdiff --no-prompt
	vimp = !git ls-files | fzf | xargs -o vim
	delete-merged-branches = !git branch --merged | grep -vE '\\*|main$|master$|develop$' | xargs -I % git branch -d %
# [format]
# 	pretty = %C(red)%h %C(green)%ci %C(bold blue)%an %C(blue)%m %C(yellow)%d %Creset%s
[fetch]
	prune = true
[pull]
	ff = only
[diff]
	# tool = vimdiff
	tool = vscode
[difftool]
	prompt = false
	trustExitCode = true	# Be able to abort all diffs with `:cq` or `:cquit`
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	# tool = vimdiff
	tool = vscode
	conflictstyle = diff3
[mergetool]
	prompt = false
	# trustExitCode = true
	keepBackup = false
[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
	# trustExitCode = false
# [rerere]
# 	enabled = true
[rebase]
	autoStash = true
	rebaseMerges = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[include]
	path = .gitconfig.os
	path = .gitconfig.local
[github]
	user = kashewnuts
[ghq]
	root = ~/.cache/plugged
	root = ~/projects  # One written later has primary
[init]
	defaultBranch = master
