*~
.DS_Store
Thumbs.db
*.py[c|o]
__pycache__/
*bak
*.swp
node_modules
*tags
*.gitkeep
.idea/
# *.env*
*venv*
*.venv*
Pipfile*
*.vscode
*.sqlite3
*.*orig
*.mypy_cache/
.vim
.local.*vimrc
docker-compose.override.yml
settings_override.py
build/
static
swagger/
swagger-ui*.js
.Trash-1000/
# vim
files/.vim/viminfo
files/.vim/vimwinpos
files/.vim/.netrwhist
files/.vim/plugged/
