[user]
	name = kashewnuts
	email = kashun.nuts@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
	quotepath = false
	preloadindex = true
	fscache = true
[color]
	ui = true
[push]
	default = simple
[gui]
	encoding = utf-8
[i18n]
	logOutputEncoding = utf-8
[alias]
	lg = log --graph --abbrev-commit --date=relative
	lga = log --graph --abbrev-commit --date=relative --all
	br = branch
	ci = commit
	co = checkout
	df = diff
	dft = difftool
	st = status
	unstage = reset -q HEAD --
	uncommit = reset --mixed HEAD~
	vimdiff = difftool --tool=vimdiff --no-prompt
	vimp = !git ls-files | fzf | xargs -o vim
[format]
	pretty = %C(red)%h %C(green)%ci %C(bold blue)%an %C(blue)%m %C(yellow)%d %Creset%s
[fetch]
	prune = true
[pull]
	ff = only
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[include]
	path = .gitconfig.os
	path = .gitconfig.local
[github]
	user = kashewnuts
[ghq]
	root = ~/projects
