[user]
	name = kashewnuts
	email = bjzli.m08vo9kqs@gmail.com
[core]
	editor = vim
	excludesfile = /Users/kashewnuts/.gitignore
	quotepath = false
	preloadindex = true
	fscache = true
[color]
	ui = true
[push]
	default = simple
[gui]
	encoding = utf-8
[i18n]
	logOutputEncoding = utf-8
[alias]
	lg = log --graph --abbrev-commit --date=relative
	lga = log --graph --abbrev-commit --date=relative --all
	br = branch
	ci = commit
	co = checkout
	df = diff
	st = status
	unstage = reset -q HEAD --
	uncommit = reset --mixed HEAD~
[format]
	pretty = %C(red)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
	pretty = %C(red)%h %C(green)%ci %C(bold blue)%an %C(blue)%m %C(yellow)%d %Creset%s
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[include]
	path = .gitconfig.os
	path = .gitconfig.local
[github]
	user = kashewnuts
[ghq]
	root = ~/projects
[difftool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/kashewnuts/.stCommitMsg
