[user]
	name = kashewnuts
	email = bjzli.m08vo9kqs@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
	quotepath = false
	preloadindex = true
	fscache = true
[color]
	ui = true
[push]
	default = simple
[gui]
	encoding = utf-8
[i18n]
	logOutputEncoding = utf-8
[alias]
	lg = log --graph --decorate --oneline
	br = branch
	ci = commit
	co = checkout
	df = diff
	st = status
	unstage = reset -q HEAD --
	uncommit = reset --mixed HEAD~
[merge]
	ff = false
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[include]
	path = .gitconfig.os
	path = .gitconfig.local
[github]
	user = kashewnuts
